@use "bootstrap/scss/bootstrap";

body {
    padding: 20px;
}

.rss-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-floating {
    margin-bottom: 0rem;
}

.preview-btn {
    margin-left: 10px;
}

.fw-bold {
    color: #0d6efd;
}

.container-feeds-and-posts {
    margin-top: 2rem;
    
    #feeds {
      position: sticky;
      top: 20px;
      height: fit-content;
      
      .card {
        margin-bottom: 1rem;
        border-left: 3px solid #0d6efd;
      }
    }
    
    #posts {
      .card {
        margin-bottom: 1rem;
        transition: transform 0.2s;
        
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
}
  